body{
    background-image: url(images/background-destination-desktop.jpg);
}
.container{
    margin-top: 10vh;
}
.wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}
.part1,.part2{
    width: 45%;
}
.part1 h1{
    font-size: 24px;
    font-weight: 500;
}
.part1 h1 span{
    color: rgb(131, 130, 130);
}
.part1 img{
    margin-top: 5vh;
    max-width: 100%;
}
.part2 ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.part2 ul li{
    padding: 15px 15px 0px;
    position: relative;
}
.part2 ul li::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 5px;
    background-color: aliceblue;
    transition: all 0.3s;
}
.part2 ul li:hover::after{
    width: 100%;
}
.part2 ul li.active::after{
    width: 90%;
}
.selected h1{
    text-align: center;
    padding: 30px 0px;
    font-size: 60px;
}
.selected h3{
    line-height: 22px;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 17px;
    text-indent: 20px;
}
.distance_time{
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
}
.distance_time h3{
    font-size: 17px;
    font-weight: 500;
}
.distance_time h1{
    font-weight: 600;
    font-size: 25px;
}
.distance_time h1:nth-child(1){
    padding-right: 10px;
}
.on-active{
    display: none;
}



@media screen and (max-width:768px) {
    body{
        background-image: url(images/background-destination-tablet.jpg);
        background-size: auto;
        
    }
    .container{
        margin-top: 4vh;
    }
    .wrapper{
        flex-flow: row wrap;
    }
    .part1,.part2{
        width: 95%;
    }
    .part1 h1{
        text-align: center;
    }
    .part1 .image{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:414px) {
    body{
        background-image: url(images/background-destination-mobile.jpg);
        background-size: 100%;
    }
}